@charset "utf-8";

:root {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
}

/* #region header デザイン関係 */
.designWrap {
    padding-inline: clamp(12px, -14.87px + 7.1645vw, 83px);
}

.headerDesignPrimary {
    background-color: #EDE0D4;
}

.headerDesignSecondary {
    background-color: #B392AC;
}

@media screen and (max-width: 768px) {
    .headerDesignSecondary {
        background-color: #EDE0D4;
    }
}

/* #endregion */

/* #region header header部分 */
.headerWrapPrimary {
    display: flex;
    justify-content: space-between;
    padding-block: clamp(16px, 14.49px + 0.4036vw, 20px);
    padding-inline: 12px;
    position: relative;
}

.headerWrapPrimary span {
    background: url(../images/bar.svg) no-repeat center/cover;
}

.open {
    max-width: 50px;
    width: 100%;
    height: 50px;
    /* padding-block: 3.41px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: clamp(8px, 6.49px + 0.4036vw, 12px);
    box-sizing: content-box
}

.open span {
    background-color: #7F5539;
    display: inline-block;
    width: 100%;
    height: 3px;
}

.donutsLogo {
    max-width: 87px;
    width: 100%;
    height: 78px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buyingContainer {
    display: flex;
    justify-content: space-around;
    gap: clamp(12px, 1.40px + 2.8254vw, 40px);
    padding-top: clamp(8px, 6.49px + 0.4036vw, 12px);
}

.buyingContainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buyingContainer img {
    margin-bottom: 9px;
    max-width: clamp(24px, 19.46px + 1.2109vw, 36px);
    width: 100%;
    height: auto;
}

.buyingContainer p {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.headerWrapSecondary {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.headerWrapSecondary form {
    width: 360px;
    display: flex;
    gap: 0;
}

.headerWrapSecondary button {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #D9D9D9;
    border: solid 1px #7F5539;
    width: 100%;
    max-width: clamp(34px, 31.73px + 0.6054vw, 40px);
    height: 40px;
}

#searchKeyword {
    background-color: #ffffff;
    border: solid 1px #7F5539;
    width: 100%;
    max-width: clamp(316px, 314.49px + 0.4036vw, 320px);
    height: 40px;
}

@media screen and (max-width:768px) {
    .open {
        max-width: clamp(25px, 1.15px + 6.3613vw, 50px);
        height: clamp(25px, 1.15px + 6.3613vw, 50px);
    }
    
    .buyingContainer p {
        font-size: clamp(0.6250rem, 0.5057rem + 0.5089vw, 0.7500rem);
        line-height: clamp(0.6250rem, 0.5057rem + 0.5089vw, 0.7500rem);
    }

    .donutsLogo {
        max-width: clamp(62px, 38.15px + 6.3613vw, 87px);
        height: clamp(53px, 29.15px + 6.3613vw, 78px);
    }

    .headerWrapSecondary {
        padding-top: clamp(0px, -11.45px + 3.0534vw, 12px);
        padding-bottom: clamp(8px, 4.18px + 1.0178vw, 12px);
    }

    #searchKeyword,
    .headerWrapSecondary button {
        height: clamp(37px, 34.14px + 0.7634vw, 40px);
    }

    .headerWrapSecondary button img {
        max-width: 18px;
        height: 18px;
    }
}

/* #endregion */

/* #region header drawerMenu */

.menuWrap {
    position: absolute;
    width: 100%;
    height: 418px;
    background-color: #7f5539bf;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
}

.menuWrap.visible {
    transform: translateY(0%);
}

.menuLogo{
    margin-top: 20px;
}

.menuWrap button {
    position: absolute;
    top: 15.67px;
    right: 95px;
}

.menu {
    margin-top: 40px;
    color: #ffffff;
    max-width: 560px;
    width: 100%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ffffff;
}

.menu ul a {
    font-size: 1.5rem;
    line-height: 1.5rem;
    -webkit-text-stroke: 1px #7F5539;
    paint-order: stroke fill;
}

@media screen and (max-width: 768px) {
    
}

/* #endregion */

/* 
Webプログラミング演習3 -CCDonuts 
        
コード作成：久我 嗣生
素材の権利者：中央キャリアアップアカデミー
制作目的：授業課題
*/